@import "custom";
@import "variables";
@import "components/admin";
@import "components/billboard";
@import "components/contact";
@import "components/header";
@import "components/home";
@import "components/live";
@import "components/menubar";
@import "components/music";
@import "components/login";

body {
  background-size: cover;
  background: white no-repeat 0 0;
  font-family: $main-font;
}

.random-text {
  width: 50%;
}

a {
  color: #2196f3;
}

//noinspection CssOptimizeSimilarProperties
.main-content {
  margin-top: $header-bar-height + 1em;
  margin-bottom: $social-bar-height + 2em;
  margin-left: $content-left-margin;
  margin-right: $header-bar-height / 2;

  @media screen and (max-width: $sm-xs) {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  @media screen and (max-width: $lg-md) and (min-width: $xl-lg) {
    margin-right: 2em;
  }

  @media screen and (min-width: $xl-lg) {
    margin-left: auto;
    margin-right: auto;
    width: 81em;
  }
}

html, body {
  overflow: auto;
  height: 100%;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
}
