@import "../variables";

body {
  background-size: cover;
  background: white no-repeat 0 0;
  font-family: $main-font;
  margin: 0;
}

.random-text {
  width: 50%;
}

a {
  color: #2196f3;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

//noinspection CssOptimizeSimilarProperties
.main-content {
  padding-top: $header-bar-height + 16px;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;

  @media screen and (min-width: $lg-md) {
    margin-left: auto;
    margin-right: auto;
    width: 81em;
  }
}

html, body, #app,  #root{
  overflow: auto;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  position: fixed;
}

h2, h3, h4, h5, h6, h1 {
  color: black;
  font-family: $header-font;
}

.dark-dropdown {
  fieldset {
    color: white
  }
  fieldset:not(:focus) {
    border: 2px solid rgba(255, 255, 255, .2);
  }

  fieldset:hover:not(:focus) {
    border: 2px solid rgba(255, 255, 255, .8);
  }
}
