.idea
*.iml

client/node_modules/

ci/credentials.yml

gradle/
.gradle/
out/
build/

client/dist/bundle.js

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar