.idea
*.iml

*/node_modules/

ci/credentials.yml

gradle/
.gradle/
out/
build/

*bundle.js
*bundle.js.map
client/coverage

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar