@import "custom";
@import "variables";
@import "components/admin";
@import "components/billboard";
@import "components/contact";
@import "components/header";
@import "components/home";
@import "components/live";
@import "components/menubar";
@import "components/music";
@import "components/login";

body {
  background-size: cover;
  background: white no-repeat 0 0;
  font-family: $main-font;
  margin: 0;
}

.random-text {
  width: 50%;
}

a {
  color: #2196f3;
}

a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

//noinspection CssOptimizeSimilarProperties
.main-content {
  padding-top: $header-bar-height + 16px;
  padding-left: 1em;
  padding-right: 1em;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;

  @media screen and (min-width: $lg-md) {
    margin-left: auto;
    margin-right: auto;
    width: 81em;
  }
}

html, body {
  overflow: auto;
  height: 100%;
}

#app {
  height: 100%;
}

#root {
  height: 100%;
}

h2 , h3, h4, h5, h6, h1{
  color: black;
  font-family: $header-font;
}
