@import "../variables";
@import url("https://fonts.googleapis.com/css?family=Righteous");

$transparent-aqua-background: rgba(98, 247, 200, 0.9);
$transition-speed: .5s;

a:hover {
  text-decoration: none;
}

.menubar-collapsed {
  .menubar-row {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: margin $transition-speed, height $transition-speed, padding $transition-speed;;
  }

  top: 0;
  height: 0;
  padding: 0;
}

.menubar-expanded {
  .menubar-row {
    //margin-bottom: 1%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    height: 12%;
    transition: margin $transition-speed, height $transition-speed, padding $transition-speed;
  }

  top: $header-bar-height;
  padding: 1em;
  height: 100%;
  padding-bottom: $header-bar-height;
}

.menubar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  position: fixed;
  font-family: "Carter One", cursive;
  font-size: larger;
  right: 0;
  width: 100%;
  background-color: $transparent-aqua-background;
  z-index: 1;

  transition: height $transition-speed, padding $transition-speed, top $transition-speed;

  .menubar-row {
    text-align: center;
    width: 100%;
  }

  .social-media-icon {
    font-size: $header-bar-height /1.5;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .menubar-row:hover, .menubar-active {
    cursor: pointer;

    h3 {
      color: white;
    }
  }

  h3 {
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}