@import "../variables"
@import url('https://fonts.googleapis.com/css?family=Righteous')

//default styling
a:hover
  text-decoration: none

.menubar-side
  font-family: $header-font
  position: fixed
  //font-family: $scrappy-font
  font-size: larger
  height: 100%
  width: $menubar-width
  top: 4em
  p
    color: black

.menubar-disable
  p
    color: grey


.menubar-row
  margin-left: 1em
  margin-bottom: .5em
  padding-left: .5em
  padding-top: 4px
  width: 100%

  p
    margin: 0

//page specific styling
.home-menubar
  p
    color: white



//behaviour specific styling
.menubar-row:hover, .menubar-active
  cursor: pointer
  p
    color: $aqua-luke

.menubar-disable:hover
  cursor: default

  p
    color: grey


