$social-icon-size: 2em

#social-media-bar
  position: fixed
  width: 100%
  bottom: 0
  height: $social-icon-size*1.5
  background-color: white
  text-align: center

  img
    width: $social-icon-size
    padding-top: $social-icon-size/4

