@import "../variables";

#admin-page {

  text-align: center;

  .nav-tabs {
    margin-bottom: 1rem;
  }

  #new-song-form {
    .table-header {
      margin: 0
    }
  }

  .admin-table {
    padding: 1rem 0;
    display: flex;
    margin-bottom: 2rem;
  }
  #music-type-dropdown {
    width: 8rem;
  }

  .table-header, .padding-for-centering {
    text-align: center;
    width: 20%;
  }

  .table-content {
    width: 80%;
  }

  .sendingAnimation {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }

  .row {
    margin-top: 10px;
  }

  .column-header {
    font-weight: bolder;
    font-family: $header-font;
    font-size: larger;
  }

  #error-message {
    text-align: center;
    background-color: rgba(221, 53, 69, 0.14);
    border: 1px solid #dd3545;
    border-radius: 10px;
    color: #dd3545;
    padding: .5em 1em;
  }

  .admin-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    @media screen and (min-width: $lg-md) {
      margin-right: auto;
      margin-left: auto;
    }

    .song-column, .show-column {
      padding: 0 0.75rem;
    }

    .song-input {
      padding-right: 1em;
    }

    .action-column {
      width: 100px;
    }

    .name-column, .id-column {
      width: 300px;
    }

    .song-type-column {
      width: 175px;
    }

    .date-column {
      width: 125px;
    }
    .venue-column {
      width: 200px;
    }

    .venue-link-column {
      width: 400px;
    }

    .style-column {
      width: 100px;
    }

    .city-column {
      width: 150px;
    }
  }
}