
#login-window {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  background: #000000;
  border-radius: 1px;
  padding: 3em 2em 2em;
  box-shadow: -20px 19px #888888;
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-control {
    margin-bottom: 2em;
    width: 9rem;
  }

  .btn, #loading-wheel {
    margin: 0 auto;
    display: block;
    color: white
  }

  h2 {
    color: white;
    padding-bottom: 1em;
  }

  #user-alert {
    color: #f36969
  }

  ::placeholder {
    color: $aqua-luke;
    font-weight: bolder;
  }
}