@import "../variables"


.header-bar
  //font-family: $scrappy-font
  font-family: $header-font
  text-align: left
  background-color: black
  color: white
  position: fixed
  top: 0
  width: 100%
  height: $header-bar-height
  z-index: 1
  margin-top: 0
  .title-container
    padding-left: 1.5em
    padding-top: $header-bar-height/5
  a
    color: white
  .title
    margin-top: -7px
    font-size: 200%
  .header-subtext
    margin-left: 1em
    font-family: $main-font
.row
  margin-right: 0
  margin-left: 0
  margin-top: 0

  img
    width: $header-bar-height/2
    padding-bottom: $header-bar-height/4
    padding-top: $header-bar-height/4

//behaviour specific styling
.title:hover
  cursor: pointer
  color: $aqua-luke
