@import "../variables";

.header-bar {
  font-family: "Carter One", cursive;
  text-align: left;
  background-color: black;
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  margin: 0;
  top: 0;
  width: 100%;
  height: 4em;

  a {
    color: white;
  }

  p {
    margin: auto;
  }

  .title-container {
    padding-left: $left-gutter;
    display: flex;
  }

  .title {
    font-size: 200%;
  }

  .title-active {
    color: $aqua-luke;
  }

  .sub-title {
    margin-left: 1em;
    font-family: $main-font;

    @media screen and (min-width: 0) and (max-width: $sm-xs) {
      display: none;
    }

    @media screen and (min-width: $sm-xs) and (max-width: $md-sm) {
      width: 18em;
    }
  }

  .social-media-icon {
    font-size: $header-bar-height / 1.6;
    margin-right: auto;
    margin-left: auto;
    width: $header-bar-height / 3;
    display: block;
  }
}

.social-media-icons {
  @media screen and (min-width: $sm-xs) {
    display: flex;
    width: $header-bar-height * 3.25;
    margin-right: $header-bar-height / 4;
  }
}

#social-media-expanded {
  width: 12em;
  display: flex;

  @media screen and (min-width: 0) and (max-width: $sm-xs) {
    display: none;
  }
}

#social-media-hamburger {
  margin-right: $header-bar-height / 4;

  @media screen and (min-width: $sm-xs) {
    display: none;
  }
}

//behaviour specific styling
.title:hover {
  cursor: pointer;
  color: $aqua-luke;
}
