@import "../variables";
@import url("https://fonts.googleapis.com/css?family=Righteous");

//default styling
a:hover {
  text-decoration: none;
}

.menubar-collapsed {
  display: none;
}

.menubar {
  position: fixed;
  font-family: $header-font;
  font-size: larger;
  z-index: 1;

  margin-top: 64px;
  top: 0;
  right: 0;
  width: 8em;
  padding: 1em;
  background-color: $aqua-luke;
  box-shadow: (-0.5em) 0.5em rgba(0, 0, 0, 0.4);

  .menubar-row {
    background-color: $aqua-luke;
    text-align: center;
  }

  .menubar-row:hover, .menubar-active {
    cursor: pointer;

    p {
      color: white;
    }
  }

  p {
    color: black;
  }
}

.menubar-row {
  margin-bottom: 1em;
  padding-top: 4px;
}
