@import "../variables";
@import url("https://fonts.googleapis.com/css?family=Righteous");

$transparent-aqua-background: #62f7c8e3;
$transition-speed: .75s;

a:hover {
  text-decoration: none;
}

.menubar-collapsed {
  .menubar-row{
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    transition: margin $transition-speed, height $transition-speed,  padding $transition-speed;;
  }
  height: 0;
  padding: 0;
  transition: height $transition-speed, padding $transition-speed;
}

.menubar-expanded {
  .menubar-row {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    height: 11%;
    transition: margin $transition-speed, height $transition-speed, padding $transition-speed;

  }
  height: 100%;
  padding: 64px 1em 1em;
  transition: height $transition-speed,  padding $transition-speed;
}

.menubar {
  position: fixed;
  font-family: "Carter One", cursive;
  font-size: larger;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $transparent-aqua-background;
  z-index: 1;

  .menubar-row {
    text-align: center;
  }

  .social-media-icon {
    font-size: $header-bar-height / 2;
    margin-right: auto;
    margin-left: auto;
    width: $header-bar-height / 3;
    display: block;
  }



  .menubar-row:hover, .menubar-active {
    cursor: pointer;

    h3 {
      color: white;
    }
  }

  h3 {
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}